<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="SpringSecurityOauth2Application" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot">
    <option name="ACTIVE_PROFILES" />
    <module name="spring-security-oauth2" />
    <option name="SPRING_BOOT_MAIN_CLASS" value="oauth2.SpringSecurityOauth2Application" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>